 .ant-layout-header {
     background: #303337;
 }

 .logo {
     width: 256px;
     color: white;
     display: flex;
     align-items: center;
     justify-content: flex-start;
 }

 .header-menu {
     line-height: 64px;
 }